* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}


Link{
  text-decoration: none;
  color: #06374e;
}

#outlined-basic{
  text-align: right;
}